//Created by chrisenabled on 6/18/16.
extends ../layouts/one-column-layout

append links
  link(rel='stylesheet', href='/server-assets/css/login.css')

append content
  .row
    .col-md-offset-4.col-md-4
      .login-page
        p.form-title FORGOT PASSWORD
        #form-wrapper.form
          form.forgot-password(action='/request-password-reset', method='post' class='active')
            input#forgot-email(type='text', placeholder='email address', name='email')
            input#forgot-submit(type='submit', value='Reset password')
            p.message
              | Not registered? &nbsp;
              a(href='/register', rel="register", class="linkform") Create an account
            p.message
              | Remember password? &nbsp;
              a(href='/', rel="login", class="linkform") Sign in


