//Created by chrisenabled on 6/11/16.
extends ../layouts/one-column-layout

append links
  link(rel='stylesheet', href='/server-assets/css/login.css')

append scripts
  script(src='/server-assets/js/login.js')

append content
  .row
    .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
      .login-page
        p.form-title LOGIN
        #form-wrapper.form
          form.register.hide-form(action='/api/admins', method='post')
            label(for="register-email" class="sr-only") Email
            input#register-email(type='text', placeholder='email address', name='email')
            label(for="register-password" class="sr-only") Password
            input#register-password(type='password', placeholder='password', name='password', autocomplete='new-password')
            label(for="register-re-password" class="sr-only") Confirm Password
            input#register-re-password(type='password', placeholder='confirm password')
            input#register-submit(type='submit', value='Register')
            p.message
              | Already registered? &nbsp;
              a(href='/', rel="login", class="linkform") Sign In

          form.login(action='/login', method='post' class="active")
            label(for="login-email" class="sr-only") Email
            input#login-email(type='email', placeholder='username or email', name='email')
            label(for="login-password" class="sr-only") Password
            input#login-password(type='password', placeholder='password', name='password', autocomplete='new-password')
            input#login-submit(type='submit', value='Login')
            p.message
              | Not registered? &nbsp;
              a(href='/register', rel="register", class="linkform") Create an account
            p.message
              a(href='/forgot-password', rel="forgot-password", class="linkform") forgot password?

          form.forgot-password.hide-form(action='/request-password-reset', method='post')
            input#forgot-email(type='text', placeholder='email address', name='email')
            input#forgot-submit(type='submit', value='Reset password')
            p.message
              | Not registered? &nbsp;
              a(href='/register', rel="register", class="linkform") Create an account
            p.message
              | Remember password? &nbsp;
              a(href='/', rel="login", class="linkform") Sign in


