//
   Created by chrisenabled on 6/11/16.

html
  body
    section
      form(action='/reset-password?access_token=#{accessToken}', method='post')
        fieldset
          legend Password reset form
          div
            label New password:
            input(type='text', name='password')
          div
            label Confirm new password:
            input(type='password', name='confirmation')
          div
            input(type='submit', value='Reset password')
