//
   Created by cahmed on 6/16/16.


.row.main-header
  .col-xs-12.col-sm-3
    img(src= "/common-assets/images/liftupcare.png", class='lucaf-logo')
  .col-xs-12.col-sm-9
    h2 Lift Up Care Foundation &emsp;
      small (Admin Panel)


